<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="https://kauth.kakao.com/oauth/authorize?client_id=e08a67dbcfb2bfbb134c46fba64b2f29&redirect_uri=http://localhost:8080/login/oauth2/code/kakao&response_type=code"
    role="button">
    카카오 로그인
</a>
<a href="https://nid.naver.com/oauth2.0/authorize?client_id=Hckxb_WJxDGBqLIrztVk&response_type=code&redirect_uri=http://localhost:8080/login/oauth2/code/naver"
   role="button">
    네이버 로그인
</a>
<a href="https://www.facebook.com/v2.11/dialog/oauth?client_id=7952472958159822&redirect_uri=http://localhost:8080/login/oauth2/code/facebook"
   role="button">
    페이스북 로그인
</a>
</body>
</html>

